*{
    --grid-dim: 60vh;
}

#grid{
    display: grid;
    width: var(--grid-dim);
    height: var(--grid-dim);

}
#grid div{

    background-color: yellow;
}

#main {
    backgroun d-color: blue;
    height: 100vh;
    width: 100vw;

}


#grid .grid-box{
    background-color: rgb(200, 200, 200);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#sketchbox {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2), -1px -1px 3px rgba(0,0,0,0.2);
    border: yellow solid;
}
.rainbow-active{
    background-color: red;;
}